In [16]:
!pip install openpyxl
!pip install pymongo
from pyspark.sql import SparkSession
import json
import pandas
import unittest
import pymongo

uri="mongodb://mongo1:27017"
spark = SparkSession.\
        builder.\
        appName("pyspark-notebook2").\
        master("local").\
        config("spark.executor.memory", "1g").\
        config("spark.mongodb.input.uri",uri).\
        config("spark.mongodb.output.uri",uri).\
        config("spark.jars.packages", "org.mongodb.spark:mongo-spark-connector_2.12:3.0.0").\
        getOrCreate()

%run -i 'invoice.py'

Requirement already satisfied: openpyxl in /opt/conda/lib/python3.9/site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in /opt/conda/lib/python3.9/site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: pymongo in /opt/conda/lib/python3.9/site-packages (4.0.1)
 Le nombre de transaction par facture

.

+---------+--------+
|InvoiceNo|count(1)|
+---------+--------+
|   536821|      23|
|   537381|      24|
|   538809|      11|
|   538878|       8|
|   539048|       1|
|   539334|      10|
|   540168|      51|
|   540251|       1|
|   540260|      41|
|   540954|      26|
|   541864|      18|
|   543130|       4|
|   543166|      32|
|   536378|      19|
|   536380|       1|
|   536437|       6|
|   537159|      28|
|   537204|      32|
|   537359|       9|
|   539597|       2|
+---------+--------+
only showing top 20 rows

DataFrame[Country: string, CustomerID: double, Description: string, InvoiceDate: string, InvoiceNo: bigint, Quantity: bigint, StockCode: string, UnitPrice: double, _corrupt_record: string]

.

+---------+--------------+-----+
|StockCode|       Country|total|
+---------+--------------+-----+
|    22768|United Kingdom|  221|
|    16238|United Kingdom|   69|
|    22916|United Kingdom|  187|
|    70007|United Kingdom|   55|
|    21816|United Kingdom|    9|
|   84596E|United Kingdom|   35|
|    22573|United Kingdom|  141|
|    20972|United Kingdom|  527|
|    22438|United Kingdom|   68|
|    22297|United Kingdom|  226|
|    21210|United Kingdom|  286|
|    22565|United Kingdom|  105|
|   90059C|United Kingdom|    2|
|    22963|United Kingdom|  170|
|   84030E|United Kingdom|  264|
|    20713|United Kingdom|  381|
|    22694|United Kingdom|  306|
|    21137|United Kingdom|  299|
|    22423|United Kingdom| 1426|
|    22466|United Kingdom|  118|
+---------+--------------+-----+
only showing top 20 rows

.

+---------+--------------------+-----+-------+
|StockCode|         repartition|total|Country|
+---------+--------------------+-----+-------+
|    23117|1.126252956414010...| 8879|Germany|
|    84836|1.126252956414010...| 8879|Germany|
|    22187|1.126252956414010...| 8879|Germany|
|    22717|1.126252956414010...| 8879|Germany|
|    22576|2.252505912828021...| 8879|Germany|
|    21015|1.126252956414010...| 8879|Germany|
|    22186|1.126252956414010...| 8879|Germany|
|    23400|1.126252956414010...| 8879|Germany|
|    72816|1.126252956414010...| 8879|Germany|
|   85061W|1.126252956414010...| 8879|Germany|
|   35471D|1.126252956414010...| 8879|Germany|
|   35599D|3.378758869242032E-4| 8879|Germany|
|    23075|1.126252956414010...| 8879|Germany|
|    23483|1.126252956414010...| 8879|Germany|
|    23515|4.505011825656042...| 8879|Germany|
|    23403|1.126252956414010...| 8879|Germany|
|   47518F|1.126252956414010...| 8879|Germany|
|   90160D|1.126252956414010...| 8879|Germany|
|   84806A|1.126252956414010...| 8879|Germany|
|    23552|4.505011825656042...| 8879|Germany|
+---------+--------------------+-----+-------+
only showing top 20 rows

+----------+-----------------+
|CustomerID|            total|
+----------+-----------------+
|   14646.0|277346.2199999995|
+----------+-----------------+

/opt/conda/lib/python3.9/socket.py:775: ResourceWarning: unclosed <socket.socket fd=63, family=AddressFamily.AF_INET, type=SocketKind.SOCK_STREAM, proto=6, laddr=('127.0.0.1', 37210), raddr=('127.0.0.1', 40991)>
  self._sock = None
ResourceWarning: Enable tracemalloc to get the object allocation traceback
.

L'Id du client qui a depens√© le plus est 14646.0

----------------------------------------------------------------------
Ran 4 tests in 259.926s

OK